@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root{
    --black: #0e0e0e;
    --grey: #3f3f3f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body{
    background: linear-gradient(45deg, #000000, #111111);
}

#background-animation{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(img/black-logo.png);
    background-size: 5%;
    background-repeat: repeat;
    animation: bg-animation 45s linear infinite;
    filter: brightness(0.2);
}

@keyframes bg-animation{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 50rem 50rem;
    }
}
#container{
    flex-direction: column;
    display: flex;
    align-items: center;
}

#content-container{
    height: 100vh;
    width: 38%;
    background: linear-gradient(45deg, #000000, #2a2a2a);
    box-shadow: 0 5px 80px black;
    position: relative;
}

#logo-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

#logo-container img{
    width: 50%;
    height: auto;
}

#social-media-container{
    font-size: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}
a{
    text-decoration: none;
}
#social-media-icons{
    padding: 0 30px;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
}

.button-redirect{
    border: 2px solid #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.button-redirect:hover{
    background: #fff;
    color: var(--black);
}

.button-redirect{
    margin-top: 15px;
}

@media only screen and (max-width: 768px){
    #content-container{
        width: 100%;
    }
}